################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/

/MobileTag/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

# VS files that don't need to be included...

*.suo
*.cache
*.user

obj/
[Bb]in
[Dd]ebug*/
